<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/footer.css">
</head>

<section class="piedepagina">

    <div>
        <i class="fa-solid fa-location-dot"></i>
        <h4>Tiendas</h4>
        <a href="" style="text-decoration: none;"><p>VER TIENDAS</p></a>
    </div> 

    <div>
        <i class="fa-solid fa-users"></i>
        <h4>Redes</h4>
        <i class="fa-brands fa-instagram"></i>
    </div>    

</section>
<br>
<div>
<p>Copyright © 2009-2022 CANSKI S.A.</p>
</div>