<!DOCTYPE html>

<head>
    
</head>
<div class="imagen-logo">
    <a href="/"><img src="/images/logoredux.jpg" alt="Logo de Canski"></a>
</div>




<div class="search-bar">
    <form action="/products/search" method="post">
    <input type="text" name="buscador" placeholder="Busca aqui...">
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
</div>

<div class="top-header" style="display: inline; margin-right: 2%;">
    <% if (locals.isLogged) { %>

    <a href="/profile"><img style="width: 45px; height: 45px; border: 1px solid var(--blanco); border-radius: 50%; object-fit: cover;" id="user-logged" src="/images/<%= locals.userLogged.img %>" ></a>
        <a href="/profile" style="text-decoration: none; color: white;"><%= locals.userLogged.nombre %></a>
     

        <% } else { %>

            <i class="fa-solid fa-envelope" style="color: white;"></i>
            <a href="/login" style="text-decoration: none; color: white;">Log In</a>
            <i class="fa-solid fa-user" style="color: white;"></i>
            <a href="/register" style="text-decoration: none; color: white;">Register</a>

            <% } %>

                <i class="fa-brands fa-product-hunt" style="color: white;"></i>
                <a href="/products" style="text-decoration: none; color: white;">Productos</a>
                <i class="fa-solid fa-cart-shopping" style="color: white;"></i>
                <a href="/cart" style="text-decoration: none; color: white;">Carrito</a>
                <% if (locals.isLogged && locals.userLogged.id_rol==1) { %>
                    <i class="fa-brands fa-product-hunt" style="color: white;"></i>
                    <a href="/products/create" style="text-decoration: none; color: white;">Crear producto</a>
                    <i class="fa fa-user" style="color: white;"></i>
                    <a href="/users" style="text-decoration: none; color: white;">Usuarios</a>
                    <% } %>