<!DOCTYPE html>
<head>

</head>
<div class="imagen-logo">
     <a href="/"><img src="/images/logoredux.jpg" alt="Logo de Canski"></a>
 </div>
 
     <div class="search-bar">
     <input type="text" placeholder="Busca aqui...">
     <i class="fa-solid fa-magnifying-glass"></i>
     </div>   

     <div class="top-header" style="display: inline">
     <i class="fa-solid fa-envelope" style="color: white;"></i>
     <a href="/login" style="text-decoration: none;">Log In</a>
     <i class="fa-solid fa-user" style="color: white;"></i>
     <a href="/register" style="text-decoration: none;">Register</a>
     <i class="fa-brands fa-product-hunt" style="color: white;"></i>
     <a href="/products" style="text-decoration: none;">Productos</a>
     <i class="fa-solid fa-cart-shopping" style="color: white;"></i>
     <a href="/cart" style="text-decoration: none;">Comprar</a>
     <i class="fa-brands fa-product-hunt" style="color: white;"></i>
     <a href="/create" style="text-decoration: none;">Crear producto</a>