<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.2/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/main.css">


    <title>Carrito Compras</title>
</head>

<body>
  <header>
    <section>
        <div class="imagen-logo">
          <div class="logoRegister"><a href="/"><img class="logoCanskiRegister" src="/images/logoredux.jpg" alt="Logo Canski"></a></div>
            </div>
    </section>
    
    <form class="busqueda-cart">
      <input class="form-control"  type="text" placeholder="Buscar productos" aria-label="Search">    
    </form>  

   
    <nav id="menu">
      <button type="menu" id="butoMenu"><img src="https://img.icons8.com/ios-filled/50/000000/menu-squared-2.png"/></button>
    </nav>

 
    <nav>  
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/register">Crear Cuenta</a></li>
        <li><a href="/login">Ingresar</a></li>
        <li><a href="/cart">Mis Compras</a></li>
        <li><a href="/help">Ayuda</a></li>
        <li><a href="#ofertas">Ofertas</a></li>
      </ul>
    </nav>
  </header>
  

  <section>
    <img class="homeBanner" src="/images/home-banner.jpg" alt="Banner">
  </section>
    

    <main>
        <h1>MIS COMPRAS</h1>
    </main>
    <div class="wrapper">
            <div class="project">
            <div class="shop">
                <div class="box">
                    <img src="/images/esquis.png">
                    <div class="content">
                        <h3>producto</h3>
                        <h4>Price: $40</h4>
                        <p class="unit">Quantity: <input name="" value="2"></p>
                        <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
                    </div>
                </div>
                <div class="box">
                    <img src="/images/casco.jpg">
                    <div class="content">
                        <h3>producto2</h3>
                        <h4>Price: $40</h4>
                        <p class="unit">Quantity: <input name="" value="1"></p>
                        <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
                    </div>
                </div>
                <div class="box">
                    <img src="/images/botas.jpg">
                    <div class="content">
                        <h3>producto3</h3>
                        <h4>Price: $250</h4>
                        <p class="unit">Quantity: <input name="" value="0"></p>
                        <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
                    </div>
                </div>
            </div>
            <div class="right-bar">
                <p><span>Subtotal</span> <span>$120</span></p>
                <hr>
                <p><span>Tax (5%)</span> <span>$6</span></p>
                <hr>
                <p><span>Shipping</span> <span>$15</span></p>
                <hr>
                <p><span>Total</span> <span>$141</span></p><a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
            </div>
        </div>
    </div>

    <footer>
        <section class="piedepagina">

            <div>
                <i class="fa-duotone fa-map-location-dot"></i>
                <h4>Tiendas</h4>
                <p><a href="">VER TIENDAS</a></p>
            </div> 

            <div>
                <i class="fa-solid fa-users"></i>
                <h4>REDES</h4>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>

        </section>
        <br>

        <p>Copyright © 2009-2022 CANSKI S.A.</p>
</body>
</html>
