<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.2/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/main.css">


    <title>Carrito Compras</title>
</head>

<body>
  <header>
    <section>
        <div class="imagen-logo">
            <a href=""><img src="/images/logoredux.jpg" alt="Logo de Canski"></a>
            </div>
    </section>
    
    <form class="busqueda">
      <input class="form-control"  type="text" placeholder="Buscar productos" aria-label="Search">    
    </form>  

   
    <nav id="menu">
      <button type="menu" id="butoMenu"><img src="https://img.icons8.com/ios-filled/50/000000/menu-squared-2.png"/></button>
      <button type="submit" class="icoLu"><img src="https://img.icons8.com/external-obvious-line-kerismaker/48/000000/external-browsing-seo-line-obvious-line-kerismaker-3.png"/></button>
    </nav>

 
    <nav>  
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/register">Crear Cuenta</a></li>
        <li><a href="/login">Ingresar</a></li>
        <li><a href="/cart">Mis Compras</a></li>
        <li><a href="/help">Ayuda</a></li>
        <li><a href="#ofertas">Ofertas</a></li>
      </ul>
    </nav>
  </header>
  

  <section>
    <img class="homeBanner" src="/public/images/home-banner.jpg" alt="Banner">
  </section>
    

    <main>
        <h1>MIS COMPRAS</h1>
    </main>


    <footer>
        <section class="piedepagina">

            <div>
                <i class="fa-duotone fa-map-location-dot"></i>
                <h4>Tiendas</h4>
                <p><a href="">VER TIENDAS</a></p>
            </div> 

            <div>
                <i class="fa-solid fa-users"></i>
                <h4>REDES</h4>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>

        </section>
        <br>

        <p>Copyright © 2009-2022 CANSKI S.A.</p>
</body>
</html>
