
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/index.css">
</head>

<body>

    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <img style="width: 100%;" src="/images/devTeam.jpg" alt="">

    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>