
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/index.css">
</head>

<body>

    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <!--slider-->
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <!--imagenes-->
                <div class="slide first">
                    <img id="banner" src="/images/home-banner.jpg" alt="">
                </div>
                <div class="slide">
                    <img id="banner" src="/images/home-banner-2.jpg" alt="">
                </div>
                <div class="slide">
                    <img id="banner" src="/images/home-banner-3.jpg" alt="">
                </div>
                <div class="slide">
                    <img id="banner" src="/images/home-banner-4.jpg" alt="">
                </div>
                <!---fin de imagenes-->
                <!--automatic-->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
                <!--automatic fin-->
            </div>
            <!--manual-->
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
            <!--manual fin-->
        </div>
        <script type="text/javascript">
            var counter = 1;
            setInterval(function(){
                document.getElementById('radio' + counter).checked = true;
                counter++;
                if(counter > 4){
                    counter = 1;
                }
            }, 5000)
        </script>
        <!---fin de slider-->
        <div style="
        width: 100%;
        text-align: center;">
        <img src="/images/bannerbienvenido.png" alt="" style=" width: 50%">
    </div>
        <div class="container">
            <div style="box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 50%); border: 1px solid #112d2e;" class="single-product">
                <div class="row">
                    <div class="col-6">
                        <div class="product-image">
                            <div class="product-image-main">
                                <img src="/images/logoredux.jpg" alt="" id="product-main-image">
                            </div>
                            <div class="product-image-slider">
                                <img src="/images/tienda1.jpg" alt="" class="image-list">
                                <img src="/images/tienda2.jpg" alt="" class="image-list">
                                <img src="/images/tienda3.jpg" alt="" class="image-list">
                                <img src="/images/tienda4.jpg" alt="" class="image-list">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="breadcrumb">
                            <h3 class="active">Sobre Nosotros</h3>
                        </div>

                        <div class="product">
                            <div class="product-title">
                                <h2>CanSki</h2>
                            </div>
                            <div class="product-rating">
                                <span><i class="bx bxs-star"></i></span>
                                <span><i class="bx bxs-star"></i></span>
                                <span><i class="bx bxs-star"></i></span>
                                <span><i class="bx bxs-star"></i></span>
                                <span><i class="bx bxs-star"></i></span>
                                <span class="review">Indumentaria para Nieve, Ski & Snowboard directo de Fábrica</span>
                            </div>
                     
                            <br>
                            <div class="product-details">
                                <h3 style="font-size: xxx-large;">Historia</h3>
                                <p style="font-size: larger;">CanSki consolida su identidad de marca y amplía su red comercial para llegar a todo Argentina.
                                 <br> Luego de años de crecimiento constante y sostenido, la empresa apuesta a más: telas técnicas, desarrollo de nuevos tejidos e incorporación de maquinarias con tecnología de punta fueron el diferencial para el crecimiento de la marca.
                                 <br>Hoy CanSki cuenta con más de 30 franquicias activas en todo el país. 
                                </p>
                            </div>
             
                            <span class="divider"></span>

                            <div class="product-btn-group">
                                <a href="/products"><div class="button buy-now"><i class='bx bxs-zap'></i> Ver Productos</div></a>
                                <div class="button add-cart"><i class='bx bxs-cart'></i> Equipo Tecnico</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
    <script src="/js/indexFunction.js"></script>
</body>

</html>