<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.2/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="css/main.css">

    <title>Home</title>
</head>
<body>
    
    <header>
            <div class="imagen-logo">
            <a href=""><img src="/images/logo.jpg" alt="Logo de Canski"></a>
            </div>
            
        <div class="top-header">
            <a href="/views/login.html" style="text-decoration: none;">Log In</a>
            <a href="/views/register.html" style="text-decoration: none;">Register</a>
            <i class="fa-solid fa-envelope"></i>
            <i class="fa-regular fa-cart-shopping"></i>
            
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Busca aqui...">
            <i class="fa-regular fa-magnifying-glass"></i>
        </div>

    </header>

    <main>

        <h2>Articulos destacados</h2>
        <img src="/images/home-banner.jpg" alt="">

        <section class="section-articulos">

            <div class="div-articulos">
                <img src="/images/esquis.png" alt="">
                <div class="producto-precio">
                <p>Esquis</p>
                <p>$10.000</p>
                </div>
            </div>

            <div class="div-articulos">
                <img src="/images/casco.jpg" alt="">
                <div class="producto-precio">
                <p>Casco</p> 
                <p>$1500</p>
                </div>
            </div>

            <div class="div-articulos">
                <img src="/images/botas.jpg" alt="">
                <div class="producto-precio">
                <p>Botas</p>
                <p>$4000</p>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <section class="piedepagina">

            <div>
                <i class="fa-duotone fa-map-location-dot"></i>
                <h4>Tiendas</h4>
                <p><a href="">VER TIENDAS</a></p>
            </div> 

            <div>
                <i class="fa-solid fa-users"></i>
                <h4>REDES</h4>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>

        </section>
        <br>

        <p>Copyright © 2009-2022 CANSKI S.A.</p>

    </footer>
</body>
</html>