<!-- Producto uno  -->
<div class="basket-product">
    <div class="item">
      <div class="product-image">
        <img src="images/botas.jpg" alt="Placholder Image 2" class="product-frame">
      </div>

      <div class="product-details">
        <h1> Botas para Nieve </h1>
        <p><strong>Blanco, Size 18</strong></p>
      </div>
    </div>
    <div class="price">$ 4000</div>
  </div>
<!-- Producto dos  -->
  <div class="basket-product">
    <div class="item">
      <div class="product-image">
        <img src="images/esquis.png" alt="Placholder Image 2" class="product-frame">
      </div>

      <div class="product-details">
        <h1> Esquis </h1>
        <p><strong>Azul/Negro, Talla 18</strong></p>
      </div>
    </div>
    <div class="price">$ 10000</div>
  </div>
<!-- Producto tres  -->
  <div class="basket-product">
    <div class="item">
      <div class="product-image">
        <img src="images/casco.jpg" alt="Placholder Image 2" class="product-frame">
      </div>
      <div class="product-details">
        <h1> Casco Proteccion</h1>
        <p><strong>Negro, talla 10</strong></p>
      </div>
    </div>
    <div class="price">$ 1500</div>
