<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/index.css">
</head>

<body>

    <header>
        <%- include('./partials/header') %>
    </header>

    <h1 class="bienvenida usuario">hola <%= user.nombre %> <%= user.apellido %>  
     </h1>
    <main>
</body>

</html>