.imagen-logo {justify-content: flex-start;
              width: 50%}
         
header {display: flex;
        justify-content: space-between} 
        
.producto-precio {display: flex;
                  justify-content: space-around}

.div-articulos {width: 20%}

.piedepagina {display: flex;
            justify-content: space-around}






