* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-container{
    text-align: center;
  }

.text-center-header{
  font-weight: bold;
}

  body{
   width: 100%;
  }
 
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #112d2e;
    height: 120px;
  }
  
  .imagen-logo img{
    width: 100px;
    margin: 10px;
  }
  
  .top-header{
    display: flex;
    align-items: center;
  }
  
  .menu a{
    color: #ebebeb;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .menu i{
    color: #ebebeb;
    margin-right: 10px;
  }
  
  .search-bar{
    background-color: #ebebeb;
    border-color: #ebebeb;
    border-style: solid 5px;
    border-radius: 10px;
    padding-left: 5px;
    padding: 5px;
  }
  
  .search-bar input{
    background-color: #ebebeb;
    border-style: none;
    width: 150px;
  }
  .search-bar i{
    padding-right: 5px;
    color: #666666;
  }
  /*
  azul: #1f1b49
  blanco: #ebebeb
  verde: #112d2e
  bordo: #3b0114
  gris: #666666
  otro blanco: #ffffff
  */
  
  .producto-precio {
    display: flex;
    justify-content: space-between;
    }
    
    .section-articulos {display: flex}
    
    .div-articulos img {
    width: 400px
    }
    
    .piedepagina {
    display: flex;
    justify-content: space-around
    }
  
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    background-color: #666666;
    height: 200px;
    color: #cacaca;
    font-size: 18px;
  }
  
  
  footer a{
    color: #cacaca;
  
  }
  
  footer div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 40%;
  }
  
  .is-valid {
    color: #198754;
    border-color: #198754;
    background-color: rgba(25, 135, 84, 0.2);
  }
  
  .is-invalid {
    color: #842029;
    border-color: #842029;
    background-color: rgba(132, 32, 41, 0.2);
  }